// Put your scss code here
$footer_header_color: #302E2E;

html {
    scroll-behavior: smooth;
    transition-duration: 500ms;
}

body {
    margin: 0;
    padding: 0;
    font-family: PT Sans;
}

#header {
    background-color: $footer_header_color;
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: all .3s linear;
}

.intro-video {
    padding-top: 60px;
    width: 100%;
}

.brand-logo-wrapper {
    position: absolute;
    top: 100px;
    width: 100%;
    margin: 50px 0;
}

.brand-logo {
    display: block;
    width: 500px;
    margin: auto;
    padding-top: 10%;
}

.brand-logo-wrapper h1{
    color: white;
    text-align: center;
    padding-top: 5%;
    // font-size: 100px;
    font-size: 6vw;
    font-family: PT Sans;
}

.logo p {
    width: 20%;
    float: left;
    margin: 0;
    padding: 10px 5%;
    color: white;
    font-size: 2em;
}

header ul {
    margin: 0;
    padding-right: 5%;
    display: block;
    float: right;
    color: white;
}

header ul li {
    padding: 15px;
    display: inline-block;
    background-color: #302E2E;
    font-size: 20px;
}

.brand {
    float: left;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #59B97E;
}

.about {
    top: 100px;
    padding: 100px 10%;
}

.about img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.about-text-container {
    margin: 50px 5%;
    font-size: 30px;
    line-height: 1.5;
}

.about-text-container h1 {
    padding: 30px 0;
    text-align: center;
    font-size: 6vw;
    color: grey;
}

.product h1 {
    text-align: center;
    font-size: 6vw;
    color: grey;
}

.product {
    padding: 50px 10% 0 10%;
}

.column-container{
    margin: 0 auto;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.item {
    // float: left;
    width: 29%;
    margin: 0 10px;
    padding: 0 1%;
    text-align: center;
}

.item p {
    font-size: 20px;
}

.logo-img {
    display: block;
    height: 120px;
    margin: 0 auto;
}


.poster {
    height: 500px;
    background-image: url("assets/poster_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0;
    position: relative;
}

.poster-txt {
    padding: 0 10%;
    height: 500px;
    line-height: 500px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: PT Sans;
}

.poster-txt h1 {
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
}

.review {
    margin: auto;
    padding-top: 50px;
    width: 100%;
    height: 500px;
    h1 {
        text-align: center;
        font-size: 6vw;
        color: grey;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.review * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
    overflow: hidden;
}

.carousel_photo_container {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 500px;
    margin: 0;
    transition: transform 0.5s;
    z-index: 100;
}

.carousel_photo_container h1 {
    margin: 100px 0;
    text-align: center;
    margin: 60px 12%;
    padding: 0 50px;
    font-size: 50px;
}

.carousel_photo {
    height: 50px;
    z-index: 901;
    margin-top: 150px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.carousel_photo_container.initial, .carousel_photo_container.active {
    position: absolute;
    z-index: 900;
    opacity: 1;
    animation: fadein ease 1s;
}

.carousel_photo_container.prev {
    position: absolute;
    z-index: 800;
}

.carousel_photo_container.next {
    position: absolute;
    z-index: 700;
}

#techcrunch-container {
    background-color: #DDDDDD;
    h1 {
        color: black;
    }
}

#wsj-container {
    background-color: black;
    h1 {
        color: white;
    }
}

#bloomberg-container {
    background-color: #2800D7;
    h1 {
        color: white;
    }
}

.carousel_button-next, .carousel_button-prev {
    position: absolute;
    opacity: 0.5;
    transform: translateY(220px);
    cursor: pointer;
    z-index: 1001;
}

.carousel_button-next:hover, .carousel_button-prev:hover {
    opacity: 1;
}

.carousel_button-prev {
    left: 8%;
}

.carousel_button-next {
    right: 8%;
}

.carousel_button-next:after, .carousel_button-prev:after {
    content: " ";
    top: 50%;
}

.carousel_button-next:after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes fadein {
    from { opacity: 0.1; }
    to   { opacity: 1; }
}

.team {
    text-align: center;
    position: relative;
    top: 200px;
    height: auto;
    margin-bottom: 50px;
    display: block;
    h1 {
        text-align: center;
        font-size: 6vw;
        color: grey;
    }
    padding: 50px 5%;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.name {
    text-align: center;
    font-size: 30px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.person-wrapper {
    margin: 0 10px;
}

.person-photo img {
    display: block;
    margin: 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0,0.6);
    animation: fadein ease 1s;
}

.person-wrapper:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 80px;
    font-size: 25px;
    text-align: left;
    border: 1px solid #888;
    width: 80%;
    h2 {
        text-align: center;
    }
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

footer {
    background-color: $footer_header_color ;
    margin-top: 250px;
    padding-top: 50px;
    height: 300px;
    i{
        color: white;
        padding: 0 10px;
        font-size: 3.5rem;
    }
    i:hover {
        opacity: 0.8;
    }
    p {
        text-align: center;
        font-size: 25px;
        color: white;
    }

    a {
        color: white;
    }
}

.social_media_icon_container {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.social_media_icon {
    height: 60px;
    display: inline-block;
    padding: 0 10px;
}

.social_media_icon:hover {
    opacity: 0.8;
}

.copyright {
    text-align: center;
    p {
        font-size: 15px;
        color: grey;
    }
}

i {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

